{% load otree static %}

<script>
    window.interpreter_title = {{ session.vars.interpreter_title | json }};
    window.interpreter_choices = {{ session.vars.interpreter_choices | json }};
    window.interpreter_input_type = {{ session.vars.interpreter_input_type | json }};
    window.interpreter_input_choices = {{ session.vars.interpreter_input_choices | json }};
</script>

<div id="app">
    {% verbatim %}
    <form @submit.prevent="checkChoices">
        <input type="hidden" name="interpreter_decision" :value="JSON.stringify(sweets)">
        <input type="hidden" v-model="startTime" name="start_decision_time">
        <input type="hidden" v-model="endTime" name="end_decision_time">
        <input type="hidden" v-model="durationInSeconds" name="decision_seconds">
        <table class="table">
            <thead v-if="interpreter_input_type === 'radio'">
                <tr>
                    <th scope="col">{{interpreter_title}}</th>
                    <th scope="col" v-for="choice in interpreter_input_choices" :key="choice">{{choice}}</th>
                </tr>
            </thead>
            <thead v-else>
                <tr>
                    <th scope="col">{{interpreter_title}}</th>
                    <th scope="col" v-if="interpreter_input_type === 'dropbox'">Choose</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(sweet, index) in sweets" :key="index">
                    <td>{{ sweet.name }}</td>
                    <template v-if="interpreter_input_type === 'radio'">
                        <td v-for="(choice, choiceIndex) in interpreter_input_choices" :key="choiceIndex">
                            <input type="radio" v-model="sweet.choice" :value="choice" @change="resetError">
                        </td>
                    </template>
                    <td v-if="interpreter_input_type === 'number'">
                        <input type="number" v-model="sweet.choice" @input="resetError">
                    </td>
                    <td v-if="interpreter_input_type === 'dropbox'">
                        <select v-model="sweet.choice" @change="resetError">
                            <option disabled value="">Please select one</option>
                            <option v-for="choice in interpreter_input_choices" :value="choice" :key="choice">{{choice}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <button :disabled="!allChoicesMade" type="button" @click="checkChoices" class="btn btn-primary">Next</button>

        <p v-if="error" class="alert alert-danger my-3">Error: please, check your answers!</p>
    </form>
    {% endverbatim %}
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
const app = Vue.createApp({
    data() {
        const sweets = window.interpreter_choices.map(name => ({ name, choice: null }));

        return {
            startTime: new Date().toISOString(),
            endTime: null,
            durationInSeconds: null,
            interpreter_title: window.interpreter_title,
            interpreter_input_type: window.interpreter_input_type,
            interpreter_input_choices: window.interpreter_input_choices,
            sweets: sweets,
            error: false,
        }
    },
    methods: {
        validateNumberInput(choice) {
        // Ensure the choice is treated as a string for comparison
        const choiceAsString = String(choice); // Convert number input to string
        // Check if the stringified choice is in interpreter_input_choices for 'number' type
        if (this.interpreter_input_type === 'number') {
            const isValid = this.interpreter_input_choices.includes(choiceAsString);
            this.error = !isValid; // Set error to true if not valid
            return isValid;
        }
        return true; // Return true for non-number types
    },
        resetError(event) {
            const choice = event.target.value;
            if (!this.validateNumberInput(choice)) {
                this.error = true; // Keep error true if validation fails
            } else {
                this.error = false; // Reset error if input is valid
            }
        },
        checkChoices() {
            if (this.error) {
                // Prevent form submission if there's an error
                return;
            }
            this.endTime = new Date().toISOString();
            this.durationInSeconds = (new Date(this.endTime) - new Date(this.startTime)) / 1000;

            if (this.allChoicesMade && !this.error) {
                this.$nextTick(() => {
                    $('#form').submit();
                });
            }
        },
    },
    computed: {
        allChoicesMade() {
            // Ensure all choices are made and there are no errors
            return this.sweets.every(sweet => sweet.choice !== null && !this.error);
        }
    }
});
app.mount('#app');
</script>
