{% load otree static %}


</p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
    integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    .input-group {
        max-width: 100%;
    }

    .input-kids {
        min-width: 200px;
    }

    [v-cloak] {
        display: none
    }

    .error {
        border: 1px solid red;
        border-radius: 5px !important;
    }
</style>
<div id="app" class="text-center" v-cloak>
    {% verbatim %}
    <input type="hidden" name="producer_decision" :value="JSON.stringify(formattedItems)">
    <input type="hidden" v-model="startTime" name="start_decision_time">
    <input type="hidden" v-model="endTime" name="end_decision_time">
    <input type="hidden" v-model="durationInSeconds" name="decision_seconds">
    <ul class="list-group list-group-flush my-3" v-cloak>
        <li class="list-group-item d-flex" v-for="(item, itemIndex) in items" :key="itemIndex"
            style="    flex-flow: nowrap">
            <div class="input-group mb-3 d-flex" style="    flex-flow: nowrap">
                <div class="prefix mx-3 text-nowrap" v-if="prefix">{{prefix}}</div>
                <div v-for="(field, fieldIndex) in item.fields" :key="fieldIndex"
                    class="input-group mb-3 d-flex flex-nowrap">
                    <input type="text" v-model.trim="field.value" class="form-control input-kids"
                        :class="{ error: isError(field) }" :placeholder="`Field ${fieldIndex+1}`" required
                        @input="hideError">
                    <span class="input-group-tex mx-3 text-nowrap">{{ field.suffix }}</span>
                </div>
                <button @click="addItem" style="flex-basis: 75px;" type="button" class="btn btn-success"
                    :disabled="items.length === maxItems">+</button>
                <button @click="removeItem(index)" type="button" :disabled="items.length === minItems"
                    class="btn btn-danger" style="flex-basis: 75px;">-</button>

            </div>
        </li>
    </ul>
    <p v-if="error" class="alert alert-danger" v-html="errorMessage"></p>
    <button :disabled="!isFormComplete" @click="validate" class="btn btn-primary mb-3" type="button">Next</button>


    </p>


    {% endverbatim %}
</div>
<script src="https://unpkg.com/vue@next"></script>
<script>
    window.prefix = {{ session.vars.prefix | json }};
    window.suffixes = {{ session.vars.suffixes | json }}
    window.allowedValues = {{ session.vars.allowed_values | json }}
</script>
<script>
    const app = Vue.createApp({
        data() {
            let fields = window.suffixes.map((suffix, index) => ({
                value: '',
                suffix: suffix,
                allowedValues: window.allowedValues[index].map(item => item.toLowerCase())
            }));

            return {
                startTime: new Date().toISOString(),  // ISO string format "2023-07-19T16:14:33.789Z"
                endTime: null,
                durationInSeconds: null,
                maxItems: 5,
                minItems: 1,
                prefix: window.prefix,
                suffixes: window.suffixes,
                items: [{ fields: fields }],
                error: false,
                errorMessage: '',
                validated: false
            }
        },
        methods: {
            addItem() {
                if (this.items.length < this.maxItems) {
                    let fields = window.suffixes.map((suffix, index) => ({
                        value: '',
                        suffix: suffix,
                        allowedValues: window.allowedValues[index].map(item => item.toLowerCase())
                    }));
                    this.items.push({ fields: fields });
                }
            },
            removeItem(index) {
                if (this.items.length > this.minItems) {
                    this.items.splice(index, 1);
                }
            },
            validate() {

                if (!this.isValid()) {
                    this.error = true;
                    this.errorMessage = this.getErrMessage
                    this.validated = true;
                } else {
                    this.error = false;

                    this.validated = true;
                    this.error = false;
                    this.endTime = new Date().toISOString();
                    this.durationInSeconds = (new Date(this.endTime) - new Date(this.startTime)) / 1000;

                    this.$nextTick(() => {
                        // After the next DOM update cycle
                        $('#form').submit()
                    });

                }
            },
            isValid() {
                return this.items.every((item) => {
                    return item.fields.every((field) => {

                        return this.checkSingleField(field)
                    })
                });
            },
            hideError() {
                this.error = false;
                this.validated = false;
            },
            checkSingleField(field) {
                const convValue = field.value.toLowerCase().trim()
                aValues = field.allowedValues;
                const inAllowedValues = aValues.length === 0 ? true : aValues.includes(convValue)

                return (inAllowedValues);
            },
            isError(field) {
                return this.validated && !this.checkSingleField(field);
            }
        },
        computed: {
            formattedItems() {
                return this.items.map(item => {
                    let obj = {};
                    item.fields.forEach((field, i) => {
                        obj[`field_${i}`] = field.value;
                    });
                    return obj;
                });
            },
            isFormComplete() {
                return this.items.length >= this.minItems && this.items.every(item => item.fields.every(field => field.value !== ''));
            },
            getErrMessage() {
                let errmsg = 'Error. The text is not in the allowed list of values. <br> ';

                this.suffixes.forEach((suffix, index) => {
                    allVal = window.allowedValues[index]
                    if (allVal.length > 0) {
                        errmsg += `For Field ${index + 1}, the allowed values are: <b>${allVal.join(", ")}</b>. <br>`;
                    }
                });
                return errmsg
            }
        }
    });
    app.mount('#app')
</script>